.form-style {
    width: 50% !important;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}

.form-style {
    width: 50% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}

.button-login {
    background-color: #03318C !important;
    color: white !important;
    padding: 10px 20px !important;
    margin: 8px auto !important; /* Ajuste automático de márgenes para centrar */
    border: none !important;
    cursor: pointer !important;
    opacity: 0.9 !important;
    display: block; /* Asegura que el botón se comporte como un bloque */
    width: 100%; /* Ajusta el ancho para que coincida con el formulario */
}

.button-login:hover {
    opacity: 1 !important;
}

.react-social-login-buttons button {
    display: block;
    margin: 8px auto; /* Centra el botón de Facebook también */
    width: 100%; /* Ajusta el ancho para que coincida con el formulario */
}
