.navbar-body {
    background-color: #03318C !important;
    color: white !important; /* Cambia este valor por el color que prefieras */
    font-family: 'Roboto', sans-serif;    
    /* Bottom color */
    border-bottom: 2px solid #03318C !important; /* Cambia el color del borde inferior */
}

/* Si quieres cambiar específicamente el color de los enlaces */
.navbar-body .nav-link, 
.navbar-body .navbar-brand, 
.navbar-body .nav-dropdown-item {
    color: white !important; /* Aplica el color a los enlaces y otros elementos */
}

/* Para cambiar el color en el dropdown */
.navbar-body .dropdown-menu {
    background-color: #03318C!important; /* Cambia el fondo del dropdown */
}

.navbar-body .dropdown-item {
    color: white !important; /* Cambia el color de las opciones del dropdown */
}

/* Cambiar el color al pasar el cursor */
.navbar-body .nav-link:hover, 
.navbar-body .dropdown-item:hover {
    color: #000000 !important; /* Color al hacer hover */
}

/* Cambiar el color al darle click */
.navbar-body .nav-link:active,
.navbar-body .dropdown-item:active {
    color: #000000 !important; /* Color al hacer click */
}

.profile-pic {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor */
  }
  
/* styles.css */
.navbar-logo {
    height: 40px; /* Ajusta el tamaño aquí */
    width: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .profile-pic {
    height: 32px; /* Ajusta la altura según sea necesario */
    width: 32px; /* Ajusta la altura según sea necesario */
    border-radius: 50%; /* Hace la imagen circular */
  }
  
.title-style {
    margin-top: 10px !important; /* Ajusta este valor según sea necesario */
    font-size: 10px;
    font-weight: bold;
    color: white !important; /* Puedes cambiar el color si es necesario */
    display: block;
}
  